apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: rathsted-foundations
  namespace: flux-system
spec:
  interval: 1m0s
  url: REPLACE_GIT_URL
  ref:
    REPLACE_GIT_REF
__SECRET_REF__
